In [82]:
import os
import sys

import pandas as pd
import numpy as np

In [89]:
class estate:
    def __init__(self, name='No Name', price=0,  cash=0, xp_owner_yy=0, xp_estate_tax_yy=0):

        self.name = name
        self.price = price
        self.xp_owner_yy = xp_owner_yy
        self.xp_estate_tax_yy = xp_estate_tax_yy

        #self.mortgage = price
        self.mortgage_pct = 2.484 #rente + bidrag
        self.cash = cash
        self.mortgage = self.price

        self.sqm=0
        self.rent_mm = 0
        self.n_years = 30
        self.tax_corp_pct = 22
        self.tax_private_pct= 55.6

        self.rent_up_pct = 3        # annual increase in rent
        self.xp_up_pct = 2          # annual increase in expenses
        self.maintenance_pct = 1    # percent of annual rent that is allocated for maintenance

        self.downpay = 0



    def pre_calc(self):
        if self.cash==0: 
            self.cash = .2 * self.price
        self.mortgage = self.price - self.cash
       # return mortgage, cash
 

    def income_rent(self):
        rent_yy =[]
        for n in range(self.n_years):
            rent = 12 * self.rent_mm*(1 + self.rent_up_pct/100)**n 
            rent_yy.append(rent)
        return rent_yy



    def expenses(self):
        xp_yy=[]
        for n in range(self.n_years):
            xp = (self.xp_owner_yy + self.xp_estate_tax_yy) * (1 + self.xp_up_pct/100)**n
            xp_yy.append(xp)
        return xp_yy


   
    def build_df(self):

        #self.mortgage, self.cash = 
        self.pre_calc()
        
        df = pd.DataFrame()
        yy = list(range(self.n_years))
        self.income_rent_yy = self.income_rent()
        self.expenses_yy = self.expenses()

        df['year'] = yy
 
        df['mortgage'] = self.mortgage
        df['mortgage_interest'] = self.mortgage_pct*df['mortgage']/100
 
        df['rent_yy'] = self.income_rent_yy
        df['expenses_yy'] = self.expenses_yy
        df['balance'] = df['rent_yy'] - df['expenses_yy']



        #profit and tax
        df['corp_profit'] = df['balance'] - df['mortgage_interest']
        df['corp_income_tax'] = .01*self.tax_corp_pct *(df['corp_profit'])
        df['corp_downpay'] = self.downpay


        for v in df.columns:
            df[v] = df[v].astype(int)
        #display(df)
        self.df = df
        return self.df


    def estate_overview(self):
        print('navn: ' + self.name)
        print('pris: ' + str(self.price))

In [90]:
e1 = estate()
e1.name = 'Egelykkeparken 25C'
e1.price = 2195000
e1.cash = 250000
e1.xp_owner_yy = 17187 + 29
e1.xp_estate_tax_yy = 4120
e1.rent_mm = 10500

e1_df = e1.build_df()

In [91]:
e1_df[:2]

,year,mortgage,mortgage_interest,rent_yy,expenses_yy,balance,corp_profit,corp_income_tax,corp_downpay
0,0,1945000,48313,126000,21336,104664,56350,12397,0
1,1,1945000,48313,129780,21762,108017,59703,13134,0

In [92]:
e1_df

,year,mortgage,mortgage_interest,rent_yy,expenses_yy,balance,corp_profit,corp_income_tax,corp_downpay
0,0,1945000,48313,126000,21336,104664,56350,12397,0
1,1,1945000,48313,129780,21762,108017,59703,13134,0
2,2,1945000,48313,133673,22197,111475,63161,13895,0
3,3,1945000,48313,137683,22641,115041,66727,14680,0
4,4,1945000,48313,141814,23094,118719,70405,15489,0
5,5,1945000,48313,146068,23556,122511,74198,16323,0
6,6,1945000,48313,150450,24027,126422,78108,17183,0
7,7,1945000,48313,154964,24508,130455,82141,18071,0
8,8,1945000,48313,159613,24998,134614,86300,18986,0
9,9,1945000,48313,164401,25498,138902,90589,19929,0
10,10,1945000,48313,169333,26008,143324,95011,20902,0
11,11,1945000,48313,174413,26528,147884,99571,21905,0
12,12,1945000,48313,179645,27059,152586,104272,22940,0
13,13,1945000,48313,185035,27600,157434,109121,24006,0
14,14,1945000,48313,190586,28152,162433,114120,25106,0
15,15,1945000,48313,196303,28715,167588,119274,26240,0
16,16,1945000,48313,202193,29289,172903,124589,27409,0
17,17,1945000,48313,208258,29875,178383,130069,28615,0
18,18,1945000,48313,214506,30473,184033,135719,29858,0
19,19,1945000,48313,220941,31082,189859,141545,31139,0
20,20,1945000,48313,227570,31704,195865,147552,32461,0
21,21,1945000,48313,234397,32338,202058,153745,33823,0
22,22,1945000,48313,241429,32985,208444,160130,35228,0
23,23,1945000,48313,248671,33644,215027,166713,36676,0
24,24,1945000,48313,256132,34317,221814,173500,38170,0
25,25,1945000,48313,263816,35003,228812,180498,39709,0
26,26,1945000,48313,271730,35704,236026,187712,41296,0
27,27,1945000,48313,279882,36418,243464,195150,42933,0
28,28,1945000,48313,288278,37146,251132,202818,44620,0
29,29,1945000,48313,296927,37889,259037,210724,46359,0

In [87]:
e1.estate_overview()

navn: Egelykkeparken 25C
pris: 2195000

In [88]:
st=e1.overview

AttributeError: 'estate' object has no attribute 'overview'

In [27]:
display(st)

{'navn': 'Egelykkeparken 25C', 'pris': 2195000}