In [1]:
import os
import sys

import pandas as pd
import numpy as np

In [55]:
class estate:
    def __init__(self, name='No Name', price=0, xp_owner_yy=0, xp_estate_tax_yy=0):

        self.name = name
        self.price = price
        self.xp_owner_yy = xp_owner_yy
        self.xp_estate_tax_yy = xp_estate_tax_yy

        #self.mortgage = price
        self.mortgage_pct = 2.484

        self.sqm=0
        self.rent_mm = 0
        self.n_years = 30
        self.tax_corp_pct = 22
        self.tax_private_pct= 55.6
        self.tax_deduct_interest_priv_pct = 33

        self.rent_up_pct = 2        # annual increase in expenses
        self.xp_up_pct = 2          # annual increase in expenses
        self.maintenance_pct = 1    # percent of annual rent that is allocated for maintenance


        self.private_downpay = 0

 
    def income_rent(self):
        rent_yy =[]
        for n in range(self.n_years):
            rent = 12 * self.rent_mm*(1 + self.rent_up_pct/100)**n 
            rent_yy.append(rent)
        return rent_yy


    def expenses(self):
        xp_yy=[]
        for n in range(self.n_years):
            xp = (self.xp_owner_yy + self.xp_estate_tax_yy) * (1 + self.xp_up_pct/100)**n
            xp_yy.append(xp)
        return xp_yy
        '''
    def mortgage(self):
        self.mortgage = []
        self.mortgage_interest = []

        for n in range(self.n_years):
            mg_
        '''
   
    def build_df(self):
        df = pd.DataFrame()
        yy = list(range(self.n_years))
        self.income_rent_yy = self.income_rent()
        self.expenses_yy = self.expenses()

        df['year'] = yy
 
        df['mortgage'] = self.price
        df['mortgage_interest'] = self.mortgage_pct*df['mortgage']/100
 
        df['rent_yy'] = self.income_rent_yy
        df['expenses_yy'] = self.expenses_yy
        df['balance'] = df['rent_yy'] - df['expenses_yy']



        #private_buy
        df['private_buy_income_tax'] = .01*self.tax_private_pct * (df['rent_yy']-df['expenses_yy'])
        df['private_net_interest'] = .01*(100-self.tax_deduct_interest_priv_pct) * df['mortgage_interest']
        df['private_profit'] = df['balance'] - df['private_buy_income_tax'] - df['private_net_interest']
        df['prvate_downpay'] = self.private_downpay*df['private_profit']


        #corp_buy
        df['corp_buy_income_tax'] = .01*self.tax_corp_pct * (df['balance'] - df['mortgage_interest'])
        df['corp_profit'] = df['balance'] - df['mortgage_interest'] - df['corp_buy_income_tax'] 
        df['corp_downpay'] = df['corp_profit']


        for v in df.columns:
            df[v] = df[v].astype(int)
        #df['running_'] = df['rent_yy']  - df['expenses_yy'] # - df['mortgage_interest']*(1-self.tax_deduct_interest_priv_pct/100) 
        
        #df['profit_private'] 
        #df['profit_corp_yy'] = df['rent_yy']  - df['expenses_yy'] - df['mortgage_interest']




        #        tax_corp = (income - expenses)*self.tax_corp_pct
        #self.df=df
        display(df)
        self.df = df

    

    def test(self):
        rt = self.income_rent()
        display(rt)

In [56]:
e1 = estate()
e1.name = 'Egelykkeparken 25C'
e1.price = 2195000
e1.xp_owner_yy = 17187 + 29
e1.xp_estate_tax_yy = 4120
e1.rent_mm = 10500

In [57]:
e1.build_df()

,year,mortgage,mortgage_interest,rent_yy,expenses_yy,balance,private_buy_income_tax,private_net_interest,private_profit,prvate_downpay,corp_buy_income_tax,corp_profit,corp_downpay
0,0,2195000,54523,126000,21336,104664,58193,36530,9939,0,11030,39109,39109
1,1,2195000,54523,128520,21762,106757,59357,36530,10869,0,11491,40742,40742
2,2,2195000,54523,131090,22197,108892,60544,36530,11817,0,11961,42407,42407
3,3,2195000,54523,133712,22641,111070,61755,36530,12784,0,12440,44106,44106
4,4,2195000,54523,136386,23094,113291,62990,36530,13770,0,12928,45838,45838
5,5,2195000,54523,139114,23556,115557,64249,36530,14776,0,13427,47606,47606
6,6,2195000,54523,141896,24027,117868,65534,36530,15802,0,13935,49408,49408
7,7,2195000,54523,144734,24508,120226,66845,36530,16849,0,14454,51247,51247
8,8,2195000,54523,147629,24998,122630,68182,36530,17917,0,14983,53123,53123
9,9,2195000,54523,150581,25498,125083,69546,36530,19005,0,15523,55036,55036
10,10,2195000,54523,153593,26008,127584,70937,36530,20116,0,16073,56987,56987
11,11,2195000,54523,156665,26528,130136,72355,36530,21249,0,16634,58977,58977
12,12,2195000,54523,159798,27059,132739,73803,36530,22405,0,17207,61008,61008
13,13,2195000,54523,162994,27600,135394,75279,36530,23584,0,17791,63078,63078
14,14,2195000,54523,166254,28152,138101,76784,36530,24786,0,18387,65190,65190
15,15,2195000,54523,169579,28715,140863,78320,36530,26012,0,18994,67345,67345
16,16,2195000,54523,172970,29289,143681,79886,36530,27263,0,19614,69542,69542
17,17,2195000,54523,176430,29875,146554,81484,36530,28539,0,20246,71784,71784
18,18,2195000,54523,179959,30473,149485,83114,36530,29840,0,20891,74070,74070
19,19,2195000,54523,183558,31082,152475,84776,36530,31168,0,21549,76402,76402
20,20,2195000,54523,187229,31704,155525,86472,36530,32522,0,22220,78781,78781
21,21,2195000,54523,190973,32338,158635,88201,36530,33903,0,22904,81207,81207
22,22,2195000,54523,194793,32985,161808,89965,36530,35311,0,23602,83682,83682
23,23,2195000,54523,198689,33644,165044,91764,36530,36748,0,24314,86206,86206
24,24,2195000,54523,202663,34317,168345,93600,36530,38214,0,25040,88780,88780
25,25,2195000,54523,206716,35003,171712,95472,36530,39709,0,25781,91407,91407
26,26,2195000,54523,210850,35704,175146,97381,36530,41234,0,26537,94085,94085
27,27,2195000,54523,215067,36418,178649,99329,36530,42789,0,27307,96818,96818
28,28,2195000,54523,219369,37146,182222,101315,36530,44375,0,28093,99605,99605
29,29,2195000,54523,223756,37889,185867,103342,36530,45994,0,28895,102447,102447

In [48]:
e1.df

,year,mortgage,mortgage_interest,rent_yy,expenses_yy,balance,private_buy_income_tax,private_net_interest,private_profit,prvate_downpay
0,0,2195000,53558,126000,21336,104664,58193,35883,10586,0
1,1,2195000,53558,128520,21762,106757,59357,35883,11516,0
2,2,2195000,53558,131090,22197,108892,60544,35883,12464,0
3,3,2195000,53558,133712,22641,111070,61755,35883,13431,0
4,4,2195000,53558,136386,23094,113291,62990,35883,14417,0
5,5,2195000,53558,139114,23556,115557,64249,35883,15423,0
6,6,2195000,53558,141896,24027,117868,65534,35883,16449,0
7,7,2195000,53558,144734,24508,120226,66845,35883,17496,0
8,8,2195000,53558,147629,24998,122630,68182,35883,18564,0
9,9,2195000,53558,150581,25498,125083,69546,35883,19653,0
10,10,2195000,53558,153593,26008,127584,70937,35883,20763,0
11,11,2195000,53558,156665,26528,130136,72355,35883,21896,0
12,12,2195000,53558,159798,27059,132739,73803,35883,23052,0
13,13,2195000,53558,162994,27600,135394,75279,35883,24231,0
14,14,2195000,53558,166254,28152,138101,76784,35883,25433,0
15,15,2195000,53558,169579,28715,140863,78320,35883,26659,0
16,16,2195000,53558,172970,29289,143681,79886,35883,27910,0
17,17,2195000,53558,176430,29875,146554,81484,35883,29186,0
18,18,2195000,53558,179959,30473,149485,83114,35883,30487,0
19,19,2195000,53558,183558,31082,152475,84776,35883,31815,0
20,20,2195000,53558,187229,31704,155525,86472,35883,33169,0
21,21,2195000,53558,190973,32338,158635,88201,35883,34550,0
22,22,2195000,53558,194793,32985,161808,89965,35883,35959,0
23,23,2195000,53558,198689,33644,165044,91764,35883,37395,0
24,24,2195000,53558,202663,34317,168345,93600,35883,38861,0
25,25,2195000,53558,206716,35003,171712,95472,35883,40356,0
26,26,2195000,53558,210850,35704,175146,97381,35883,41881,0
27,27,2195000,53558,215067,36418,178649,99329,35883,43436,0
28,28,2195000,53558,219369,37146,182222,101315,35883,45022,0
29,29,2195000,53558,223756,37889,185867,103342,35883,46641,0