In [1]:
import os
import sys

import pandas as pd
import numpy as np

In [2]:
class estate:
    def __init__(self, name='No Name', price=0,  cash=0, xp_owner_yy=0, xp_estate_tax_yy=0):

        self.name = name
        self.price = price
        self.xp_owner_yy = xp_owner_yy
        self.xp_estate_tax_yy = xp_estate_tax_yy

        #self.mortgage = price
        self.mortgage_pct = 2.484 #rente + bidrag
        self.cash = cash
        self.mortgage = self.price

        self.sqm=0
        self.rent_mm = 0
        self.n_years = 30
        self.tax_corp_pct = 22
        self.tax_private_pct= 55.6

        self.rent_up_pct = 3        # annual increase in rent
        self.xp_up_pct = 2          # annual increase in expenses
        self.maintenance_pct = 1    # percent of annual rent that is allocated for maintenance

        self.downpay = 0



    def pre_calc(self):
        if self.cash==0: 
            self.cash = .2 * self.price
        self.mortgage = self.price - self.cash
       # return mortgage, cash
 

    def income_rent(self):
        rent_yy =[]
        for n in range(self.n_years):
            rent = 12 * self.rent_mm*(1 + self.rent_up_pct/100)**n 
            rent_yy.append(rent)
        return rent_yy



    def expenses(self):
        xp_yy=[]
        for n in range(self.n_years):
            xp = (self.xp_owner_yy + self.xp_estate_tax_yy) * (1 + self.xp_up_pct/100)**n
            xp_yy.append(xp)
        return xp_yy


   
    def build_df(self):

        #self.mortgage, self.cash = 
        self.pre_calc()
        
        df = pd.DataFrame()
        yy = list(range(self.n_years))
        self.income_rent_yy = self.income_rent()
        self.expenses_yy = self.expenses()

        df['year'] = yy
 
        df['mortgage'] = self.mortgage
        df['mortgage_interest'] = self.mortgage_pct*df['mortgage']/100
 
        df['rent_yy'] = self.income_rent_yy
        df['expenses_yy'] = self.expenses_yy
        df['balance'] = df['rent_yy'] - df['expenses_yy']



        #profit and tax
        df['corp_profit'] = df['balance'] - df['mortgage_interest']
        df['corp_income_tax'] = .01*self.tax_corp_pct *(df['corp_profit'])
        df['corp_downpay'] = self.downpay


        for v in df.columns:
            df[v] = df[v].astype(int)
        #display(df)
        self.df = df
        return self.df


    def estate_overview(self):
        print('navn: ' + self.name)
        print('pris: ' + str(self.price))

In [3]:
e1 = estate()
e1.name = 'Egelykkeparken 25C'
e1.price = 2195000
e1.cash = 250000
e1.xp_owner_yy = 17187 + 29
e1.xp_estate_tax_yy = 4120
e1.rent_mm = 10500

e1_df = e1.build_df()

In [4]:
e1_df[:2]

,year,mortgage,mortgage_interest,rent_yy,expenses_yy,balance,corp_profit,corp_income_tax,corp_downpay
0,0,1945000,48313,126000,21336,104664,56350,12397,0
1,1,1945000,48313,129780,21762,108017,59703,13134,0

In [8]:
e1_df.to_excel('e1.xlsx')

In [6]:
e1.estate_overview()

navn: Egelykkeparken 25C
pris: 2195000

AttributeError: 'estate' object has no attribute 'overview'

In [27]:
display(st)

{'navn': 'Egelykkeparken 25C', 'pris': 2195000}