In [1]:
import os
import sys

import pandas as pd
import numpy as np

In [141]:
class estate:
    def __init__(self, name='No Name', price=0, xp_owner_yy=0, xp_estate_tax_yy=0):

        self.name = name
        self.price = price
        self.xp_owner_yy = xp_owner_yy
        self.xp_estate_tax_yy = xp_estate_tax_yy

        #self.mortgage = price
        self.mortgage_pct = 2

        self.sqm=0
        self.rent_mm = 0
        self.n_years = 30
        self.tax_corp_pct = 22
        self.tax_private_pct= 55
        self.tax_deduct_interest_priv_pct = 33

        self.rent_up_pct = 2        # annual increase in expenses
        self.xp_up_pct = 2          # annual increase in expenses
        self.maintenance_pct = 1    # percent of annual rent that is allocated for maintenance

 
    def income_rent(self):
        rent_yy =[]
        for n in range(self.n_years):
            rent = 12 * self.rent_mm*(1 + self.rent_up_pct/100)**n 
            rent_yy.append(rent)
        return rent_yy


    def expenses(self):
        xp_yy=[]
        for n in range(self.n_years):
            xp = (self.xp_owner_yy + self.xp_estate_tax_yy) * (1 + self.xp_up_pct/100)**n
            xp_yy.append(xp)
        return xp_yy
        '''
    def mortgage(self):
        self.mortgage = []
        self.mortgage_interest = []

        for n in range(self.n_years):
            mg_
        '''
   
    def build_df(self):
        df = pd.DataFrame()
        yy = list(range(self.n_years))
        self.income_rent_yy = self.income_rent()
        self.expenses_yy = self.expenses()

        df['year'] = yy
        df['rent_yy'] = self.income_rent_yy
        df['expenses_yy'] = self.expenses_yy

        df['mortgage'] = self.price
        df['mortgage_interest'] = self.mortgage_pct*df['mortgage']/100

        #df['running_'] = df['rent_yy']  - df['expenses_yy'] # - df['mortgage_interest']*(1-self.tax_deduct_interest_priv_pct/100) 
        
        #df['profit_private'] 
        #df['profit_corp_yy'] = df['rent_yy']  - df['expenses_yy'] - df['mortgage_interest']


        df['profi_private_tax']


        #        tax_corp = (income - expenses)*self.tax_corp_pct
        #self.df=df
        display(df)
        self.df = df

    

    def test(self):
        rt = self.income_rent()
        display(rt)

In [142]:
e1 = estate()
e1.name = 'Egelykkeparken 25C'
e1.price = 2195000
e1.xp_owner_yy = 17187 + 29
e1.xp_estate_tax_yy = 4120
e1.rent_mm = 10500

In [143]:
e1.build_df()

,year,rent_yy,expenses_yy,mortgage,mortgage_interest,profit_priv_yy,profit_corp_yy
0,0,126000.000000,21336.000000,2195000,43900.0,75251.000000,60764.000000
1,1,128520.000000,21762.720000,2195000,43900.0,77344.280000,62857.280000
2,2,131090.400000,22197.974400,2195000,43900.0,79479.425600,64992.425600
3,3,133712.208000,22641.933888,2195000,43900.0,81657.274112,67170.274112
4,4,136386.452160,23094.772566,2195000,43900.0,83878.679594,69391.679594
5,5,139114.181203,23556.668017,2195000,43900.0,86144.513186,71657.513186
6,6,141896.464827,24027.801377,2195000,43900.0,88455.663450,73968.663450
7,7,144734.394124,24508.357405,2195000,43900.0,90813.036719,76326.036719
8,8,147629.082006,24998.524553,2195000,43900.0,93217.557453,78730.557453
9,9,150581.663646,25498.495044,2195000,43900.0,95670.168602,81183.168602
10,10,153593.296919,26008.464945,2195000,43900.0,98171.831974,83684.831974
11,11,156665.162858,26528.634244,2195000,43900.0,100723.528614,86236.528614
12,12,159798.466115,27059.206929,2195000,43900.0,103326.259186,88839.259186
13,13,162994.435437,27600.391067,2195000,43900.0,105981.044370,91494.044370
14,14,166254.324146,28152.398889,2195000,43900.0,108688.925257,94201.925257
15,15,169579.410629,28715.446866,2195000,43900.0,111450.963762,96963.963762
16,16,172970.998841,29289.755804,2195000,43900.0,114268.243038,99781.243038
17,17,176430.418818,29875.550920,2195000,43900.0,117141.867898,102654.867898
18,18,179959.027195,30473.061938,2195000,43900.0,120072.965256,105585.965256
19,19,183558.207739,31082.523177,2195000,43900.0,123062.684561,108575.684561
20,20,187229.371893,31704.173641,2195000,43900.0,126112.198253,111625.198253
21,21,190973.959331,32338.257113,2195000,43900.0,129222.702218,114735.702218
22,22,194793.438518,32985.022256,2195000,43900.0,132395.416262,117908.416262
23,23,198689.307288,33644.722701,2195000,43900.0,135631.584587,121144.584587
24,24,202663.093434,34317.617155,2195000,43900.0,138932.476279,124445.476279
25,25,206716.355303,35003.969498,2195000,43900.0,142299.385805,127812.385805
26,26,210850.682409,35704.048888,2195000,43900.0,145733.633521,131246.633521
27,27,215067.696057,36418.129866,2195000,43900.0,149236.566191,134749.566191
28,28,219369.049978,37146.492463,2195000,43900.0,152809.557515,138322.557515
29,29,223756.430977,37889.422312,2195000,43900.0,156454.008665,141967.008665

In [88]:
e1.df

    year        rent_yy   expenses_yy
0      0  126000.000000  21336.000000
1      1  128520.000000  21762.720000
2      2  131090.400000  22197.974400
3      3  133712.208000  22641.933888
4      4  136386.452160  23094.772566
5      5  139114.181203  23556.668017
6      6  141896.464827  24027.801377
7      7  144734.394124  24508.357405
8      8  147629.082006  24998.524553
9      9  150581.663646  25498.495044
10    10  153593.296919  26008.464945
11    11  156665.162858  26528.634244
12    12  159798.466115  27059.206929
13    13  162994.435437  27600.391067
14    14  166254.324146  28152.398889
15    15  169579.410629  28715.446866
16    16  172970.998841  29289.755804
17    17  176430.418818  29875.550920
18    18  179959.027195  30473.061938
19    19  183558.207739  31082.523177
20    20  187229.371893  31704.173641
21    21  190973.959331  32338.257113
22    22  194793.438518  32985.022256
23    23  198689.307288  33644.722701
24    24  202663.093434  34317.617155
25    25  206716.355303  35003.969498
26    26  210850.682409  35704.048888
27    27  215067.696057  36418.129866
28    28  219369.049978  37146.492463
29    29  223756.430977  37889.422312